window#waybar.dock {
  background: transparent;
  color: #d8dee0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 18px;
  font-weight: bold;
}

window#waybar.dock > box {
  background: transparent;
}

window#waybar.dock .modules-center {
  background: rgba(39, 42, 46, 0.60);
  border: 1px solid #30363b;
  border-radius: 18px;
  padding: 6px 10px;
}

#custom-terminal,
#custom-files,
#custom-browser,
#custom-discord,
#custom-spotify {
  min-width: 38px;
  min-height: 38px;
  margin: 0 3px;
  padding: 0 8px;
  border-radius: 12px;
  color: #d8dee0;
  background: #23272b;
  transition: all 0.2s ease-in-out;
}

#custom-terminal {
  color: #66766d;
}

#custom-files {
  color: #a69d7d;
}

#custom-browser {
  color: #6b7c82;
}

#custom-discord {
  color: #81757d;
}

#custom-spotify {
  color: #66766d;
}

#custom-terminal:hover,
#custom-files:hover,
#custom-browser:hover,
#custom-discord:hover,
#custom-spotify:hover {
  background: #30363b;
  color: #f5e0e6;
}
